<div class="flex bar-cont">

    <div class="flex full-width jus-center main-pad sections">

        <button class="sec-button" (click)="actionHandler('Back')">
            < Back
        </button>

    </div>

    <div class="flex full-width jus-center main-pad sections">
        <b>{{ title }}</b>
    </div>

    <div class="flex full-width jus-center main-pad sections">

        <button class="pri-button" (click)="actionHandler(showAction)">
            + {{ showAction }}
        </button>

    </div>

</div>